/* Variables */
:root {
  /* Colores */
  --marmol: #e0fbfc;
  --naranja: #ee6c4d;
  --azul-oscuro: #293241;
  --azul-claro: #98c1d9;
  --azul: #3d5a80;

  font-size: 20px;
}

/* Estilos generales */
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--marmol);
}

h1 {
  font-size: 4rem;
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
}

a {
  font-size: 1rem;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

/* Encabezado de las páginas */
header {
  background-image: url("imagenes/imagen_titulo.jpg");
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 600px;
  text-align: center;
  padding: 20px;
}

#titulo {
  margin: auto;
  padding: 25px 50px;
  background-color: var(--azul);
  border-radius: 20px;
  width: fit-content;
}

h2 span {
  color: var(--marmol);
}

/* Barra de navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1.5em;
  background-color: var(--azul-oscuro);
  text-align: center;
}

nav ul li {
  /* No mostrarlos en vertical */
  display: inline;

  margin-right: 3em;
  padding: 0.8em;
  background-color: var(--naranja);
  border-radius: 0.7em;
}

.boton-nav {
  text-decoration: none;
  color: white;
}

.boton-nav:hover {
  color: black;
}

/* Seccion de informacion general */
section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#info-general {
  background-color: var(--azul-claro);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 20px;
}

#lista-info-general {
  column-count: 2;
  column-gap: 20em;
}

.titulo-seccion {
  margin: 0.3em 0;
}

.item-lista-general {
}
