/* Variables */
:root {
  /* Colores */
  --marmol: #e0fbfc;
  --naranja: #ee6c4d;
  --azul-oscuro: #293241;
  --azul-claro: #98c1d9;
  --azul: #3d5a80;

  font-size: 20px;
}

/* Estilos generales */
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--marmol);
}

h1 {
  font-size: 4rem;
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

a {
  font-size: 1rem;
  font-weight: normal;
}

section {
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.negrilla {
  font-weight: bold;
}

.letra-blanca {
  color: var(--marmol);
}

#cuerpo-informacion {
  margin: 0 9rem 3rem 9rem;
}

/* Encabezado de las páginas */
header {
  background-image: url("imagenes/imagen_titulo.jpg");
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 600px;
  text-align: center;
  padding: 20px;
}

#titulo {
  margin: auto;
  padding: 25px 50px;
  background-color: var(--azul);
  border-radius: 20px;
  width: fit-content;
}

h2 span {
  color: var(--marmol);
}

/* Barra de navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1.5em;
  background-color: var(--azul-oscuro);
  text-align: center;
}

nav ul li {
  /* No mostrarlos en vertical */
  display: inline;

  margin-right: 3em;
  padding: 0.8em;
  background-color: var(--naranja);
  border-radius: 0.7em;
}

.boton-nav {
  text-decoration: none;
  color: white;
}

.boton-nav:hover {
  color: black;
}

/* Seccion de informacion general */
#info-general {
  background-color: var(--azul-claro);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 20px;
}

#lista-info-general {
  column-count: 2;
  column-gap: 7rem;
}

.titulo-seccion {
  margin: 0.3em 0;
}

/* Seccion de ubicacion geografica */
#mapa-italia {
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.info-ubicacion {
  background-color: var(--azul);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 1.5rem 0;
  justify-items: center;
  align-items: flex-end;
}

.item-info-ubicacion {
  display: flex;
  flex-direction: column;
  background-color: var(--azul-claro);
  border-radius: 10px;
  padding: 1rem;
  width: 60%;
  height: fit-content;
}

/* Seccion de ciudades importantes */
.ciudades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-content: flex-start;
}

.tarjeta-ciudad {
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  width: 80%;
  height: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.titulo-ciudad {
  border-bottom: 3px solid grey;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.foto-ciudad {
  margin: 10px 0;
  border-radius: 10px;
}

/* Seccion de poblacion */
#info-poblacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#foto-gente {
  margin-right: 2rem;
  width: 30%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#texto-poblacion {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
  width: 40%;
}

.divisor-poblacion {
  height: 4px;
  background: grey;
  border-radius: 25px;
}

/* Seccion de personajes historicos */
#lista-personajes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.personaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--azul-claro);
  padding: 1rem;
  margin: 1rem;
  height: min-content;
  border-radius: 15px;
  /* Animacion para que la sombra no se muestre instantaneamente */
  transition: transform ease 0.3s, box-shadow ease 0.3s;
}

.personaje:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.foto-personaje {
  width: 100%;
  margin-bottom: 1rem;
}

.info-personaje {
  margin-top: 1rem;
  background-color: var(--marmol);
  padding: 0.5rem;
  border-radius: 10px;
}

/* Seccion de celebridades */

#lista-celebridades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.foto-celebridad {
  width: 30%;
  margin-right: 1rem;
  border-radius: 10px;
}

.celebridad {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--azul);
  padding: 1rem;
  border-radius: 15px;
  /* Animacion para que la sombra no se muestre instantaneamente */
  transition: transform 0.2s;
}

.celebridad:hover {
  transform: scale(1.05);
}

.info-celebridad {
  background-color: var(--azul-claro);
  padding: 0.5rem;
  border-radius: 10px;
}

/* Seccion de gastronomia */
#info-gastronomia {
  padding: 0 10rem;
}

#platos-tipicos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem;
  margin: 1rem 13rem;
}

.foto-plato {
  width: 80%;
  margin-top: 0.5rem;
  border-radius: 10px;
}

.plato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#botones-comida {
  margin: 1.5rem 0;
}

.boton-video {
  background-color: var(--naranja);
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 15px;
}

/* Seccion de deportes */
#seccion-deportes {
  background-color: var(--azul);
  border-radius: 10px;
}

#intro-deportes {
  background-color: var(--marmol);
  margin: 0rem 10rem;
  padding: 1rem;
  border-radius: 10px;
}

.deporte {
  background-color: var(--azul-claro);
  display: flex;
  align-items: center;
  padding: 1.5rem 15rem;
  margin: 2rem 0;
}

.deporte-horizontal {
  flex-direction: row;
}

.deporte-vertical {
  flex-direction: column;
}

.foto-deporte {
  width: 45%;
  border-radius: 10px;
}

.info-deporte-horizontal {
  margin-left: 2rem;
  background-color: var(--marmol);
  padding: 1rem;
  border-radius: 10px;
}

.info-deporte-vertical {
  margin-top: 2rem;
  background-color: var(--marmol);
  padding: 1rem;
  border-radius: 10px;
}
